# range()

Dans cette courte leçon, nous allons découvrir la fonction range(). Nous n'avons pas encore développé une connaissance détaillée des fonctions, mais nous pouvons comprendre les bases de cette fonction simple (mais extrêmement utile!).

range() nous permet de générer une liste de nombres entiers allant d'une valeur de départ *jusqu'à* une valeur de fin. Nous pouvons également spécifier la taille du pas.

Voyons quelques exemples:

In [7]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
x =range(0,10)
type(x)

range

In [4]:
start = 0 #Défaut
stop = 20 
x = range(start,stop)

In [5]:
# On affiche x
list(x)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [9]:
# On affiche vraiment le contenu de range() avec la fonction list
list(x)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

Bravo !
Remarquez qu'il y a bien 20 *valeurs*, mais 20 ne fait pas partie de la liste. Comme pour l'indexation. 
Nous pouvons aussi modifier le pas, 1 par défaut, comme troisième argument:

In [11]:
x = range(start,stop,2)
# Afficher
list(x)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

Magnifique, dernier exemple avec une boucle for :

In [13]:
for num in range(10):
    print (num)

0
1
2
3
4
5
6
7
8
9

Vous savez tout maintenant pour pouvoir utiliser range() en Python.